  <div class="card recipe" data-rec-id="{{recipe.id}}" style="width: 24rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title recipe-name" data-id="{{recipe.id}}">
      {{#if recipe.name}}
        {{limit recipe.name 36}}
      {{else}}
        No name provided.
      {{/if}}
    </h5>
    <p class="card-text">
      {{#if recipe.description}}
        {{limit recipe.description 185}}
      {{else}}
        No description provided.
      {{/if}}
    </p>
  </div>

  <p class="list-group list-title">Ingredients:</p>
  <ul class="ingredient-list list-group list-group-flush" data-rec-id="{{recipe.id}}">

    {{#each recipe.ingredients_list as |ing|}}
    <li class="list-group-item recipe-ingredient">
      {{ing.amount}} {{ing.unit}} of {{ing.ingredient}}
    </li>
    <div class="card-footer text-muted" data-ing-id="{{ing.ingredient_id}}" data-meal-id="{{ing.meal_id}}" style="height: .5em">
      <a class="list-a ing-edit">Edit</a>
      &nbsp;
      <a class="list-a ing-del">Delete</a>
    </div>
    {{/each}}

  </ul>

  <p class="list-group list-title">Directions:</p>
  <ul class="direction-list list-group list-group-flush" data-rec-id="{{recipe.id}}">

    {{#each recipe.directions as |dir|}}
    <li class="list-group-item recipe-direction">{{dir.step}}</li>
    <div class="card-footer text-muted" data-dir-id="{{dir.id}}" style="height: .5em">
      <a class="list-a dir-edit">Edit</a>
      &nbsp;
      <a class="list-a dir-del">Delete</a>
    </div>
    {{/each}}

  </ul>

  <div class="card-body card-true-footer">
    <button class="btn btn-add-ing" data-id="{{recipe.id}}">Add Ingredient</button>
    <button class="btn btn-add-dir" data-id="{{recipe.id}}">Add Direction</button>
  </div>
</div>
