{{#each recipes as |recipe|}}

  <section class="recipe">
    <h4 data-id="{{recipe.id}}">
      <small>Name:</small> {{recipe.name}}
    </h4>
    <p>
      <small>Description:</small>
      {{#if recipe.description}}
        {{recipe.description}}
      {{else}}
        No description provided.
      {{/if}}
    </p>

    <button class="btn btn-get" data-id="{{recipe.id}}">Get</button>
    <button class="btn btn-update" data-id="{{recipe.id}}">Update</button>
    <button class="btn btn-danger" data-id="{{recipe.id}}">Remove</button>

  </section>

{{/each}}

<button class="btn btn-create">Create Recipe</button>
