{{#each recipes as |recipe|}}

  <div class="recipe card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div data-id="{{recipe.id}}" class="card-body card-body-list">
      <div class="card-wrapper">
        <h5 class="card-title">
          {{#if recipe.name}}
            {{limit recipe.name 28}}
          {{else}}
            No name provided.
          {{/if}}
        </h5>
        <p class="card-text">
          {{#if recipe.description}}
            {{limit recipe.description 185}}
          {{else}}
            No description provided.
          {{/if}}
        </p>
      </div>

      <div class="btn-wrapper">
        <button class="btn btn-get btn-butter" data-id="{{recipe.id}}">View</button>
        <button class="btn btn-update btn-butter" data-id="{{recipe.id}}">Update</button>
        <button class="btn btn-rmv" data-id="{{recipe.id}}">Remove</button>
      </div>

    </div>
  </div>


{{/each}}
